*{
    box-sizing: border-box;
}
.conteiner{
    width: 350px;
    height: 410px;
    background-color: #faf4ef;
    margin-left: 700px;
    margin-top: 200px;
    border: solid #faf4ef;
    border-bottom-left-radius: 50px;
}
.pp {
    font-weight: bold;
    padding-left: 50px;
}
.satauri{
    padding-left: 50px;
    padding-top: 40px;
}
.pic2{
    margin-left: 50px;
    margin-top: 15px;
}